section {
    padding: 10px;
    text-align: center;
}

section div {
    margin-block: 0 10px;
}

section div div:first-child {
    text-align: left;
    margin-block-end: 20px;
}

section div h1 {
    margin-block: 0 5px;
    font-size: 1.25em;
}

section table {
    display: inline-table;
    margin-inline: 10px;
    border-collapse: collapse;
}

section table caption{
    margin-block-end: 5px;
    font-weight: bold;
}

section table th {
    width: 40px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px 5px;
}

section table th:first-child {
    width: 180px;
    text-align: left;
}

section table td {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 2px 5px;
    overflow: hidden;
    vertical-align: top;
}

section table td:first-child {
    text-align: left;
}

section table td div {
    margin-block: 0;
    margin-inline: 0;
    text-align: right;
    font-size: x-small;
}
section table td div:first-child {
    margin-block: 0;
    margin-inline: 0;
    text-align: left;
    font-size: medium;
}