:root {
    --owzat-width: 900px;
    --owzat-forecolour: #ffffff;
    --owzat-backcolour: #000000;
    --owzat-highlight: #ffff91;
    --owzat-disabled: #333333;
    --owzat-titlecolor: #a1d0ff;
}

@font-face {
    font-family: 'markerfield';
    src: url('../font/markerfield-webfont.woff2') format('woff2'), url('../font/markerfield-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-weight: normal;
}

body {
    font-family: 'markerfield', sans-serif;
    font-size: x-large;
    margin: 0;
    color: var(--owzat-forecolour);
    background-color: var(--owzat-backcolour);
    height: 100vh;
}

select,
option {
    font-family: inherit;
    font-size: inherit;
    color: var(--owzat-highlight);
    background-color: var(--owzat-backcolour);
}

button {
    font-family: inherit;
    font-size: inherit;
    margin-inline: 10px;
    padding: 0 20px;
    border-radius: 30px;
    border: 1px solid var(--owzat-forecolour);
    background-color: var(--owzat-forecolour);
    color: var(--owzat-backcolour);
}

button:disabled {
    color: var(--owzat-backcolour);
    border: 1px solid var(--owzat-disabled);
    background-color: var(--owzat-disabled);
}

button:hover:not(:disabled) {
    border: 1px solid var(--owzat-highlight);
    background-color: var(--owzat-highlight);
}

button:active:hover:not(:disabled) {
    background-color: var(--owzat-backcolour);
    color: var(--owzat-highlight);
}

h2 {
    color: var(--owzat-titlecolor);
}

.match-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: var(--owzat-width);
    height: 100%;
    margin: 0 auto;
}

.match-selection-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--owzat-width);
    margin: 10px auto;
}

.match-selection-type label {
    margin-right: 10px;
}

.match-selection-type select {
    width: 200px;
}

.team-selection-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.team-selection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 10px;
}

.team-selection-item label {
    margin-bottom: 5px;
}

.team-selection-item select {
    width: 350px;
}

.team-players-table {
    border-collapse: collapse;
    margin: 5px 0;
}

.team-players-table th,
.team-players-table td {
    text-align: center;
}

.team-players-table th {
    border-bottom: 1px solid #fff;
    width: 50px;
}

.team-players-table th:first-child,
.team-players-table td:first-child {
    text-align: left;
}

.team-players-table th:first-child {
    width: 200px;
}

.team-players-table td {
    color: var(--owzat-highlight);
}