section {
    margin-block: 10px;
    text-align: center;
}

section div {
    margin-block: 0 5px;
    display: inline-block;
    width: calc(var(--owzat-width)/2.1);
}

section div h1 {
    margin-block: 0 5px;
    font-size: 1.25em;
}

section div select {
    width: 80%;
}

section div table {
    margin: 5px auto;
    border-collapse: collapse;
}